{{#if wrap}}
<div class="general-votes row" style="margin:1em 0;">
<div id="{{cid}}" class="s12 m7 col" style="position:relative">
</div>
<div class="legend s12 m5 col">
{{question-legend legendItems=allOptions}}
</div>
</div>
{{else}}
<div id="{{cid}}" class="{{class}}" style="position:relative">
</div>
{{/if}}