<div class="q-link collection">
{{#link-to 'profile' class="collection-item"}}{{loc-x '/tags/politics'}} <span class="count badge">?</span>{{/link-to}}
{{#link-to 'profile' class="collection-item"}}{{loc-x '/tags/celebrities'}} <span class="count badge">?</span>{{/link-to}}
{{#link-to 'index' class="collection-item"}}{{loc-x '/tags/tech'}} <span class="count badge">?</span>{{/link-to}}
{{#link-to 'index' class="collection-item"}}{{loc-x '/tags/travel'}} <span class="count badge">?</span>{{/link-to}}
{{#link-to 'index' class="collection-item"}}{{loc-x '/tags/relationship'}} <span class="count badge">?</span>{{/link-to}}
{{#link-to 'index' class="collection-item"}}{{loc-x '/tags/product'}} <span class="count badge">?</span>{{/link-to}}

</div>
